#! /usr/bin/bash
## Root directory of the playground
# NOTE: This can also be the absolute path to the playground directory
# Install compilers for arm  sudo apt-get install gcc-aarch64-linux-gnu g++-aarch64-linux-gnu
set -e

source da_build.conf

source_env_if_exists .envrc.private
